.banner {
    width: 100%;
    // min-height: 300px;
}

.banner img{
    width: 100%;
    // height: 300px;
}

.nav-item a,
.btn-add a {
    font-size: 16px !important;
}
.nav-item a {
    color: var(--bs-nav-tabs-link-active-color);
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #ffc107;
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: var(--bs-nav-tabs-link-active-border-color);
}

.table-title {
    font-size: 14px !important;
}
.table-content {
    font-size: 14px;
}
.form-comparison button {
    font-size: 16px;
}
.form-control:focus{
    border-color: #d3a520 !important;
    box-shadow: inset 0 1px 1px rgb(229, 198, 106), 0 0 5px rgb(255, 193, 7) !important;
}
.form-control {
    font-size: 18px !important;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
    font-size: 14px;
    line-height: 2;
}
.alert-danger {
    font-size: 14px;
}
