.banner {
    width: 100%;
    min-height: 300px;
}

.banner img{
    width: 100%;
    height: 300px;
}

.nav-item a,
.btn-add a {
    font-size: 16px !important;
}

.table-title {
    font-size: 14px !important;
}
.table-content a {
    text-decoration: none;
    color: #000000;
}
.accordion-item:last-of-type,
.accordion-button.collapsed,
.accordion-button:not(.collapsed),
.accordion-item:first-of-type,
 .accordion-button {
    border-top-left-radius: var(--bs-accordion-inner-border-radius);
    border-top-right-radius: var(--bs-accordion-inner-border-radius);
    background: #fff3cd;
} 

.accordion-button:focus {
    border-color: #d3a520 !important;
    box-shadow: inset 0 1px 1px rgb(229, 198, 106), 0 0 5px rgb(255, 193, 7) !important;}