.banner {
    // width: 100%;
    min-height: 300px;
    // border: 2px solid red;
    // background: url(../images/banner/для-банка.jpg)no-repeat center top;
    // background-position: center top;
    // background-repeat: no-repeat;
    background-size: cover;
}

.banner img{
    width: 100%;
    height: 350px;
    display: flex;
}
.btn-warning {
    --bs-btn-color: #fff;

}
// .form-table tr:first-child th:nth-child(2) {
//     width: 50px;
// }